html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Global Styles*/
a {
    text-decoration: none;
    color: black;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header y Navegation */
.nombre-sitio {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.nombre-sitio span {
    color: #037bc0;
}

.contenedor-navegacion {
    border-top: 1px solid #e1e1e1;
}

.nav-principal {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero {
    background-image: url('../img/principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
}